
{% extends "base.html" %}
{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нашей компании</h1>
<p class="lead">DreamTravel - это туристическое агентство с 10-летним опытом работы.</p>

<div class="row mt-5">
    <div class="col-md-6">
        <h3>Наша миссия</h3>
        <p>Мы стремимся сделать путешествия доступными и комфортными для каждого клиента, предлагая индивидуальный подход и лучшие варианты отдыха.</p>
    </div>
    <div class="col-md-6">
        <h3>Почему мы?</h3>
        <ul>
            <li>Более 500 довольных клиентов ежегодно</li>
            <li>Прямые контракты с отелями и авиакомпаниями</li>
            <li>Круглосуточная поддержка в путешествии</li>
            <li>Гибкая система скидок</li>
        </ul>
    </div>
</div>
{% endblock %}